@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');

/* Override the default style induced by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* The general body style goes here */
body {
    background-color: #FEFEF0;
    font-family: 'Salsa', sans-serif;
    font-weight: 800;
    display: flex;
    flex-direction: column;
    width: 100vw;
}

/* The header style goes here */
header {
    margin-top: .5rem;
    margin-bottom: .5rem;
    width: 100vw;
    text-align: center;
}

header h1 {
    margin: 1px;
}

/* The Main style goes here */
main {
    flex: 1 0 auto;
    width: 100vw;
    height: 100vh;
}

/* The Setup Board Section style goes here */
#setup-board {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 18vh;
    align-items: center;
}

#dash-board {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 130%;
    text-align: center;
}

.players-container {
    margin-bottom: 5px;
    display: flex;
    width: 100vw;
    height: 18vh;
    align-items: center;
    justify-content: space-around;
}

.players {
    margin-bottom: 5px;
    font-size: 40px;
    font-weight: bolder;
    background-color: #FEFEF0;
    border: none;
}
