@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');

/* Override the default style induced by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* The general body style goes here */
body {
    background: url('../images/background-image.png') no-repeat center/cover;
    background-color: #fdf6daff;
    font-family: 'Salsa', sans-serif;
    font-weight: 800;
    display: flex;
    flex-direction: column;
    width: 100vw;
}

/* The header style goes here */
header {
    margin-top: .5rem;
    margin-bottom: .5rem;
    width: 100vw;
    text-align: center;
    min-height: 20px;
    height: 5vh;

}

header h1 {
    margin: 1px;
}

/* The Main style goes here */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0 auto;
    width: 100vw;
    min-height: 600px;
    height: 78vh;
}

/* The Setup Board Section style goes here */
#setup-board {
    display: flex;
    flex-direction: column;
    width: inherit;
    align-items: center;
}

#dash-board {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 100%;
    text-align: center;
}

.players-container {
    margin-bottom: 5px;
    display: flex;
    width: inherit;
    align-items: center;
    justify-content: space-around;
}

.players {
    font-family: inherit;
    height: 50px;
    width: 50px;
    font-size: 40px;
    font-weight: bolder;
    font-family: inherit;
    box-shadow: inset 0px -1px 3px 3px #210e03ff;
    border-radius: 5px;
    background: transparent;
}

/* The Game Board Section style goes here */
#game-board {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.game-spots {
    margin-top: .5em;
    width: 11.6em;
    height: 11.6em;
    display: grid;
    align-content: center;
    grid-template-columns: 3.8em 3.8em 3.8em;
    grid-template-columns: 3.8em 3.8em 3.8em;
    gap: 2px;
}

.spot {
    border: 1px solid #210e03ff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 40px;
    box-shadow: inset 0px 0px 6px 6px #210e03ff;
}

/* The Score Board Section style goes here */
#score-board {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

#scores {
    display: flex;
    justify-content: space-around;
    width: inherit;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

#reset-buttons {
    display: flex;
    flex-direction: column;
    /* present the buttons vertically */
}

#round-reset {
    font-size: 18px;
    font-weight: 600;
    font-family: inherit;
    margin: .3em;
    box-shadow: inset 0px -1px 3px 3px #210e03ff;
    border-radius: 5px;
    background: transparent;
}

#game-reset {
    font-size: 18px;
    font-weight: 600;
    font-family: inherit;
    margin: .3em;
    box-shadow: inset 0px -1px 2px 2px #210e03ff;
    border-radius: 5px;
    background: transparent;
}

/* The footer style goes here */
footer {
    background-color: #210e03ff;
    color: #fdf6daff;
    display: flex;
    flex-direction: column;
    width: inherit;
    height: 15vh;
    align-items: center;
}

#info {
    margin-top: .5rem;
    display: flex;
    justify-content: space-between;
    width: 50%;
}

li {
    list-style-type: none;
    padding-bottom: .5em;
    text-align: center;
    font-size: 80%;
}

.pages-icons {
    font-size: xx-large;
    color: #fdf6daff;
}

#disclaimer {
    margin-top: 1rem;
    border-top: 1px solid #fdf6daff;
    padding-top: .5em;
    font-size: 80%;
    text-align: center;
}

@media screen and (min-width: 700px) {
    #setup-board {
        width: 40vw;
    }

    #dash-board {
        font-size: 150%;
    }

    #score-board {
        width: 40vw;
    }

    #scores {
        font-size: 150%;
    }

    #info {
        width: 20vw;
    }

}